<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>F1 Drivers</title>
</head>
<body>
    <h1 class="text-center">Piloti ufficiali</h1>

    <div class="row">
      <div class="col-md">
        <div class="card border-dark" *ngFor="let p of piloti">
          <img class="card-img-top" src={{p.immagine}} >
          <div class="card-body">
            <h5 class="card-title">{{ p.nome }}</h5>
            <p class="card-text">{{ p.nazionalita }}</p>
            <p class="card-text">Numero: {{p.numero}}<p>
            <p class="card-text">Scuderia: {{ p.scuderia}}</p>
            <p class="card-text">Numero podi: {{p.podi}}</p>
          </div>
        </div>
      </div>
    </div>
    
</body>
</html>